@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Light.woff") format("woff");
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stem";
  src: url("../fonts/Stem-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
*, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Stem", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 350;
  height: auto;
}

body.no_scroll {
  height: 100vh;
  overflow: hidden;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 500;
}

.container {
  max-width: 1800px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 20px;
  height: 80px;
  background: #03A543;
  color: #fff;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
}
.btn--border {
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
  background-color: transparent;
}
.btn:hover {
  opacity: 0.7;
}

.slider__next {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider__next svg {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider__prev {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.slider__prev svg {
  display: block;
}

.slider {
  overflow: hidden;
}

.radio__label {
  padding-left: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}
.radio__label-text {
  font-size: 16px;
  line-height: 16px;
}
.radio__label:hover {
  opacity: 0.7;
}
.radio__label::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #03A543;
  border-radius: 50%;
}
.radio__label::after {
  position: absolute;
  left: 5px;
  top: 5px;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #03A543;
  background-color: #03A543;
  border-radius: 50%;
  opacity: 0;
}
.radio__input {
  display: none;
  width: 0;
  height: 0;
}
.radio__input:checked + .radio__label::after {
  opacity: 1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #E6E6E6;
}
.header__search {
  width: 100%;
  padding: 26px;
}
.header__lang {
  border-right: 1px solid #E6E6E6;
  text-align: center;
  width: 100px;
  height: 100%;
  padding: 26px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.header__catalog {
  border-right: 1px solid #E6E6E6;
  width: 209px;
  text-align: center;
  padding: 26px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.header__fav {
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #E6E6E6;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.header__fav svg {
  width: 22px;
  height: 22px;
}
.header__fav:hover svg path {
  fill: #1C1C1C;
}
.header__cabinet {
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid #E6E6E6;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.header__cabinet svg {
  display: block;
  margin-left: 12px;
}
.header__cabinet-mob {
  display: none;
}
.header__logo {
  margin-left: 100px;
}
.header-main {
  height: 104px;
  border-bottom: 1px solid #E6E6E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__metering {
  width: 260px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
  background-color: #03A543;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
}
.header__metering svg {
  display: block;
  margin-right: 12px;
}
.header__tel {
  width: 305px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 1px solid #E6E6E6;
  color: #1C1C1C;
  height: 100%;
}
.header__tel svg {
  display: block;
  margin-right: 12px;
}
.header__burger {
  display: none;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-menu__item {
  padding: 0 30px;
  position: relative;
}
.header-menu__item a {
  font-size: 20px;
  line-height: 1;
  color: #1C1C1C;
}
.header-menu__item::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #03A543;
  position: absolute;
  bottom: -38px;
  left: 0;
  opacity: 0;
}
.header-menu__item:hover a {
  color: #03A543;
}
.header-menu__item:hover::before {
  opacity: 1;
}

.footer {
  background-color: #1C1C1C;
  color: #fff;
  border-top: 1px solid rgba(245, 245, 245, 0.5);
}

.footer-top {
  padding: 150px 0 100px;
}
.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-head {
  margin-right: 260px;
}

.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid rgba(245, 245, 245, 0.5);
}
.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
}

.footer__subtitle {
  margin-bottom: 30px;
  font-weight: 500;
}

.footer__link {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__tel,
.footer__mail {
  margin: auto 0 0 0;
}
.footer__tel a,
.footer__mail a {
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin-top: 12px;
  color: #fff;
}
.footer__tel a:hover,
.footer__mail a:hover {
  text-decoration: underline;
}

.footer-socials {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-gap: 30px;
  margin-top: 40px;
}

.footer-socials__item {
  cursor: pointer;
}
.footer-socials__item:hover {
  opacity: 0.7;
}

.footer__privacy {
  color: rgba(255, 255, 255, 0.5);
}

.footer__developer {
  color: rgba(255, 255, 255, 0.5);
}
.footer__developer span {
  color: #fff;
}

.breadcrumbs {
  padding: 30px 0;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
}
.breadcrumbs-list::-webkit-scrollbar {
  display: none;
}

.breadcrumbs__item {
  padding-right: 16px;
}
.breadcrumbs__item a {
  color: #8A8A8A;
  font-size: 14px;
  line-height: 14px;
  font-weight: 350;
  white-space: nowrap;
  width: 100%;
}
.breadcrumbs__item a:hover {
  text-decoration: underline;
}
.breadcrumbs__item:last-of-type {
  padding-right: 0;
  pointer-events: none;
}
.breadcrumbs__item:last-of-type a {
  color: #141414;
}

.product-head {
  padding: 10px 0 30px;
}
.product-head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product-head__action {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
}
.product-head__action button {
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(28, 28, 28, 0.2);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.product-head__action button svg {
  width: 18px;
  height: 18px;
  display: block;
}
.product-head__action button:hover {
  background-color: #1C1C1C;
}
.product-head__action button:hover svg path {
  fill: #fff;
}

.product__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1C1C1C;
}
.product__back svg {
  margin-right: 12px;
}

.product__articul {
  margin: 0 0 0 auto;
  font-size: 14px;
  line-height: 14px;
}

.product-main__item {
  background: url("../images/main-1.png") center center/cover no-repeat;
  min-height: 720px;
  padding: 40px 0;
  position: relative;
}
.product-main__item:nth-of-type(1) {
  background: url("../images/main-1.png") center center/cover no-repeat;
}
.product-main__item:nth-of-type(2) {
  background: url("../images/main-2.png") center center/cover no-repeat;
}

.product-main {
  position: relative;
}
.product-main .slider__prev {
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
  border: 1px solid rgba(28, 28, 28, 0.2);
}
.product-main .slider__prev:hover {
  background-color: rgba(28, 28, 28, 0.2);
}
.product-main .slider__next {
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  background-color: transparent;
  border: 1px solid rgba(28, 28, 28, 0.2);
}
.product-main .slider__next:hover {
  background-color: rgba(28, 28, 28, 0.2);
}
.product-main .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  max-width: 173px;
  position: absolute;
  top: auto;
  left: 100px;
  bottom: 67px;
}
.product-main .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #03A543;
}

.product-main__3d {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #03A543;
  color: #fff;
  padding: 18px 14px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 100px;
  top: 40px;
  z-index: 10;
}

.product-main__title {
  font-size: 52px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product-main__info {
  position: absolute;
  right: 40px;
  bottom: 170px;
}

.product-main__subtitle {
  font-size: 20px;
  line-height: 20px;
}

.product-about {
  padding: 200px 0;
}

.product-about__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.product-about__left {
  padding: 70px 60px;
  background: #F9F9F9;
  border-radius: 16px;
}

.product-about__title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 50px;
  font-weight: 500;
}

.product-about__desc {
  margin-bottom: 30px;
}

.product-about__action {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.product-about-options {
  margin-bottom: 40px;
}

.product-about-options__title {
  font-weight: 500;
  margin-bottom: 15px;
}

.product-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
}

.product-tech__item img {
  max-width: 100%;
  display: block;
}

.product-parameters__title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 60px;
  font-weight: 500;
}
.product-parameters__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}
.product-parameters__item {
  color: #8A8A8A;
  font-size: 20px;
  line-height: 22px;
}
.product-parameters__item span {
  display: block;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #000;
}

.product-video {
  background: url("../images/video.png") center center/cover no-repeat;
  padding: 80px 0;
}
.product-video .container {
  position: relative;
  min-height: 740px;
}

.product-video__title {
  position: absolute;
  top: 0;
  left: 40px;
  color: #fff;
}

.product-video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.product-video__btn span {
  display: block;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  margin-top: 30px;
}

.product-video__info {
  position: absolute;
  right: 40px;
  bottom: 0;
  max-width: 169px;
  text-align: right;
  color: #fff;
  opacity: 1;
  font-weight: 500;
}
.product-video__info span {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
  opacity: 0.4;
}

.product-bracing {
  padding: 180px 0 90px;
}

.product-bracing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 106px;
}

.product-bracing__img {
  max-width: 1027px;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
.product-bracing__img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-bracing__title {
  max-width: 400px;
  margin-bottom: 50px;
}

.product-bracing__type {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 24px;
  padding-left: 40px;
  cursor: pointer;
}
.product-bracing__type:hover {
  font-weight: 500;
  background: url("../images/arrow-tab.svg") left center/25px no-repeat;
}
.product-bracing__type:last-of-type {
  margin-bottom: 0;
}

.product-colors {
  padding: 90px 0 180px;
}

.product-colors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 106px;
}

.product-colors__img {
  max-width: 1027px;
  width: 100%;
}
.product-colors__img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.product-colors__title {
  margin-bottom: 70px;
}

.product-colors__info {
  max-width: 587px;
  width: 100%;
}

.product-colors__panel {
  padding: 40px 50px;
  background: #F5F5F5;
  border-radius: 20px;
}

.product-colors__subtitle {
  margin-bottom: 50px;
}

.product-colors__slider {
  position: relative;
  padding: 0 86px;
}
.product-colors__slider .slider__prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-colors__slider .slider__next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.product-colors__slider-item.swiper-slide {
  opacity: 0.5;
}
.product-colors__slider-item.swiper-slide-active {
  opacity: 1;
}

.product-colors__slider-item img {
  width: 100%;
  display: block;
}

.product-structure {
  padding: 100px 0 50px;
  background-color: #F5F5F5;
  overflow: hidden;
}
.product-structure .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.product-structure__title {
  position: absolute;
  top: 0;
  left: 40px;
  max-width: 320px;
}
.product-structure__img {
  max-width: 850px;
  width: 100%;
  margin: 0 142px 0 48px;
  position: relative;
}
.product-structure__img img {
  width: 100%;
}
.product-structure__point {
  position: absolute;
  width: 36px;
  height: 36px;
  background: rgba(3, 165, 67, 0.5);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
}
.product-structure__point::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.product-structure__point::after {
  position: absolute;
  content: "";
  width: 82px;
  height: 82px;
  background: rgba(3, 165, 67, 0.6);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.4);
  transform: translate(-50%, -50%) scale(0.4);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.product-structure__point:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product-structure__point.active::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product-structure__point:nth-of-type(1) {
  top: 163px;
  left: 112px;
}
.product-structure__point:nth-of-type(1) svg {
  opacity: 0;
  width: 300px;
  position: absolute;
  left: -300px;
  top: 20px;
}
.product-structure__point:nth-of-type(1) svg line, .product-structure__point:nth-of-type(1) svg rect {
  stroke-dasharray: 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.product-structure__point:nth-of-type(1):hover svg {
  opacity: 1;
}
.product-structure__point:nth-of-type(1):hover svg line, .product-structure__point:nth-of-type(1):hover svg rect {
  stroke-dasharray: 10 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.product-structure__point:nth-of-type(2) {
  top: 302px;
  left: 112px;
}
.product-structure__point:nth-of-type(2) svg {
  opacity: 0;
  position: absolute;
  left: -300px;
  top: 20px;
  width: 300px;
}
.product-structure__point:nth-of-type(2) svg line, .product-structure__point:nth-of-type(2) svg rect {
  stroke-dasharray: 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.product-structure__point:nth-of-type(2):hover svg {
  opacity: 1;
}
.product-structure__point:nth-of-type(2):hover svg line, .product-structure__point:nth-of-type(2):hover svg rect {
  stroke-dasharray: 10 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.product-structure__point:nth-of-type(3) {
  top: 207px;
  right: 76px;
}
.product-structure__point:nth-of-type(3) svg {
  width: 300px;
  position: absolute;
  right: -300px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0;
}
.product-structure__point:nth-of-type(3) svg line, .product-structure__point:nth-of-type(3) svg rect {
  stroke-dasharray: 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product-structure__point:nth-of-type(3):hover svg {
  opacity: 1;
}
.product-structure__point:nth-of-type(3):hover svg line, .product-structure__point:nth-of-type(3):hover svg rect {
  stroke-dasharray: 10 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.product-structure__point:nth-of-type(4) {
  top: 343px;
  right: 76px;
}
.product-structure__point:nth-of-type(4) svg {
  opacity: 0;
  width: 260px;
  position: absolute;
  right: -270px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.product-structure__point:nth-of-type(4) svg line, .product-structure__point:nth-of-type(4) svg rect {
  stroke-dasharray: 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.product-structure__point:nth-of-type(4):hover svg {
  opacity: 1;
}
.product-structure__point:nth-of-type(4):hover svg line, .product-structure__point:nth-of-type(4):hover svg rect {
  stroke-dasharray: 10 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.product-structure__point:nth-of-type(5) {
  top: 526px;
  right: 76px;
}
.product-structure__point:nth-of-type(5) svg {
  opacity: 0;
  width: 300px;
  position: absolute;
  right: -310px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.product-structure__point:nth-of-type(5) svg line, .product-structure__point:nth-of-type(5) svg rect {
  stroke-dasharray: 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.product-structure__point:nth-of-type(5):hover svg {
  opacity: 1;
}
.product-structure__point:nth-of-type(5):hover svg line, .product-structure__point:nth-of-type(5):hover svg rect {
  stroke-dasharray: 10 10;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
.product-structure__item {
  max-width: 244px;
}
.product-structure__item--one {
  margin: 229px 0 0 0;
}
.product-structure__item--two {
  margin: 82px 0 0 0;
}
.product-structure__item--three {
  margin-top: 172px;
}
.product-structure__item--four {
  margin-top: 112px;
}
.product-structure__item--five {
  margin-top: 141px;
}

.product-size {
  padding: 150px 0;
}
.product-size .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product-size__title {
  margin-bottom: 70px;
}
.product-size__img {
  max-width: 505px;
  margin-right: -40px;
}
.product-size__img img {
  width: 100%;
  display: block;
}
.product-size__next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.product-size__next svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.product-size__prev {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.product-size__slider-item.swiper-slide {
  opacity: 0.5;
}
.product-size__slider-item.swiper-slide-active {
  opacity: 1;
}
.product-size__slider-item.swiper-slide-active .product-size__slider-text {
  color: #03A543;
  font-weight: 500;
}
.product-size__slider {
  width: 100%;
  padding: 0 48px;
  position: relative;
}
.product-size__slider .swiper-pagination {
  display: none;
}
.product-size__slider .slider {
  max-width: 836px;
  width: 100%;
  position: relative;
}
.product-size__slider-img img {
  max-width: 100%;
  display: block;
}
.product-size__slider-text {
  text-align: center;
  color: #1C1C1C;
  opacity: 0.5;
  font-size: 18px;
  line-height: 18px;
}

.product-light img {
  width: 100%;
  display: block;
}

.product-corner {
  padding: 180px 0 90px;
}
.product-corner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 106px;
}
.product-corner__img {
  max-width: 1026px;
  width: 100%;
}
.product-corner__img img {
  width: 100%;
  display: block;
}
.product-corner__info {
  max-width: 440px;
  width: 100%;
}
.product-corner__title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 70px;
  font-weight: 500;
  margin-bottom: 50px;
}

.product-options {
  padding: 90px 0;
}
.product-options__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.product-options__item {
  padding: 40px;
  background-color: #F5F5F5;
  border-radius: 8px;
}
.product-options__img {
  margin-bottom: 40px;
}
.product-options__img img {
  max-width: 100%;
  width: auto;
  display: block;
  height: 106px;
}
.product-options__text span {
  font-weight: 500;
}

.product-modification {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.product-modification__item {
  padding: 30px;
  background-color: #F5F5F5;
  border-radius: 8px;
  min-height: 290px;
}
.product-modification__subtitle {
  margin-bottom: 33px;
  font-weight: 500;
}
.product-modification__radio {
  margin-bottom: 24px;
}
.product-modification__radio:last-of-type {
  margin-bottom: 0;
}
.product-modification__list {
  overflow-y: auto;
  height: 179px;
  padding-right: 24px;
}
.product-modification__list::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(28, 28, 28, 0.05);
}
.product-modification__list::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: rgba(28, 28, 28, 0.3);
}
.product-modification__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.product-modification__action button {
  max-width: 100%;
  width: 100%;
}

.product-docs__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product-docs__item {
  background: #F5F5F5;
  border-radius: 8px;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 250px;
}
.product-docs__item-name {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #1C1C1C;
}
.product-docs__item-size {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
  color: #8A8A8A;
}
.product-docs__item-btn {
  margin: auto 0 0 0;
  color: #03A543;
  font-weight: 500;
}
.product-docs__item-btn svg {
  margin-left: 12px;
}
.product-docs__item:hover {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #03A543;
}
.product-docs__item:hover .product-docs__item-name {
  display: none;
}
.product-docs__item:hover .product-docs__item-size {
  display: none;
}
.product-docs__item:hover .product-docs__item-btn {
  margin: auto;
  color: #fff;
}
.product-docs__item:hover .product-docs__item-btn svg path {
  fill: #fff;
}

.product-docs__btn {
  max-width: 100%;
  width: 100%;
  margin-top: 40px;
}

.product-tabs__content {
  padding: 50px 0 90px;
  display: none;
}
.product-tabs__content.active {
  display: block;
}
.product-tabs-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-tabs__item {
  width: 50%;
  -webkit-box-flex: 50%;
  -ms-flex: 50% 0 0px;
  flex: 50% 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  color: #8A8A8A;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.product-tabs__item.active {
  color: #03A543;
  border-bottom: 2px solid #03A543;
}

.product-details {
  padding: 100px 0 125px;
}
.product-details .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-details__head {
  padding: 20px 30px;
  border-bottom: 1px solid #E6E6E6;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #8A8A8A;
}
.product-details__name {
  color: #1C1C1C;
  padding: 35px 30px;
  border-bottom: 1px solid #E6E6E6;
  white-space: nowrap;
}

.product-banner {
  background-color: #1C1C1C;
  padding: 150px 0 100px;
}
.product-banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-banner__info {
  max-width: 510px;
  width: 100%;
}
.product-banner__img {
  width: 100%;
}
.product-banner__img img {
  display: block;
  width: 100%;
}
.product-banner__title {
  color: #fff;
  margin-bottom: 70px;
}
.product-banner__desc {
  margin-bottom: 158px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}
.product-banner__btn {
  max-width: 430px;
  width: 100%;
}
@media (max-width: 1700px) {
  .header__logo {
    height: 38px;
    width: auto;
    margin-left: 30px;
  }
  .header__logo img {
    width: auto;
    height: 38px;
  }
  .header-main {
    height: 90px;
  }
  .header__metering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__tel {
    display: none;
  }
  .header-menu__item {
    padding: 0 16px;
  }
  .header-menu__item::before {
    bottom: -32px;
  }
  .header-menu__item a {
    font-size: 16px;
    line-height: 1;
  }
  .breadcrumbs {
    padding: 20px 0;
  }
  .product-head .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product-head__action {
    margin-left: 0;
  }
  .product-head__action button {
    width: 32px;
    height: 32px;
  }
  .product__back {
    width: 100%;
    margin-bottom: 40px;
  }
  .product__articul {
    margin: 0;
    font-size: 12px;
    line-height: 12px;
  }
  .product-main .slider__prev {
    left: 80px;
    background-color: #fff;
    border: none;
  }
  .product-main .slider__next {
    right: 80px;
    background-color: #fff;
    border: none;
  }
  .product-main__3d {
    left: 80px;
  }
  .product-main__info {
    bottom: 100px;
  }
  .product-about {
    padding: 180px 0 150px;
  }
  .product-about__content {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .product-about__left {
    padding: 80px 30px;
  }
  .product-about__action {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .product-bracing {
    padding: 150px 0 75px;
  }
  .product-colors {
    padding: 75px 0 150px;
  }
  .product-colors__content {
    background: #F5F5F5;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .product-colors__title {
    margin-bottom: 150px;
  }
  .product-colors__info {
    padding: 100px 40px 100px 60px;
  }
  .product-colors__panel {
    padding: 0;
  }
  .product-colors__slider {
    max-width: 450px;
  }
  .product-structure .container {
    padding-top: 98px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-structure__title {
    top: 0;
    max-width: 100%;
  }
  .product-structure__img {
    max-width: 650px;
    margin: 0 40px;
  }
  .product-structure__point:nth-of-type(1) {
    top: 58px;
    left: 60px;
  }
  .product-structure__point:nth-of-type(2) {
    top: 237px;
    left: 60px;
  }
  .product-structure__point:nth-of-type(3) {
    top: 134px;
    right: 35px;
  }
  .product-structure__point:nth-of-type(4) {
    top: 240px;
    right: 35px;
  }
  .product-structure__point:nth-of-type(5) {
    top: 400px;
    right: 35px;
  }
  .product-structure__item--one {
    margin: 130px 0 0 0;
  }
  .product-structure__item--two {
    margin: 98px 0 0 0;
  }
  .product-structure__item--three {
    margin-top: 200px;
    text-align: right;
  }
  .product-structure__item--four {
    margin-top: 79px;
    text-align: right;
  }
  .product-structure__item--five {
    margin-top: 128px;
    text-align: right;
  }
  .product-size {
    padding: 100px 0;
  }
  .product-details .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width: 1600px) {
  .product-bracing__content {
    gap: 60px;
  }
  .product-modification {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1320px) {
  .footer-head {
    margin-right: 140px;
  }
}
@media (max-width: 1200px) {
  .product-size__slider .slider {
    max-width: 650px;
  }
}
@media (max-width: 1024px) {
  *, body {
    font-size: 16px;
    line-height: 23px;
  }
  h2 {
    font-size: 28px;
    line-height: 1;
  }
  .btn {
    height: 66px;
    line-height: 66px;
  }
  .header-top {
    display: none;
  }
  .header__cabinet-mob {
    display: block;
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    margin: 0 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .header__logo {
    height: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .header__logo img {
    height: 20px;
  }
  .header-main {
    height: 60px;
  }
  .header__metering {
    width: 60px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .header__metering span {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .header__burger span {
    width: 20px;
    height: 2px;
    background-color: #1C1C1C;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .header__burger span + span {
    margin-top: 5px;
  }
  .header__burger.active {
    z-index: 15;
    position: relative;
  }
  .header__burger.active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__burger.active span:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header-nav {
    position: fixed;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    display: none;
  }
  .header-nav.active {
    display: block;
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px;
  }
  .header-menu__item {
    padding: 12px 0;
  }
  .header-menu__item a {
    font-size: 18px;
    line-height: 18px;
  }
  .footer-top {
    padding: 65px 0 70px;
  }
  .footer-top .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 78px;
    margin-right: 0;
    width: 100%;
  }
  .footer-bottom {
    padding: 30px 0;
  }
  .footer__tel a,
  .footer__mail a {
    font-size: 22px;
    line-height: 22px;
  }
  .footer-socials {
    margin-top: 0;
  }
  .product-main__item {
    min-height: 400px;
  }
  .product-main .slider__prev {
    left: 30px;
    width: 40px;
    height: 40px;
  }
  .product-main .slider__prev svg {
    width: 10px;
    height: 10px;
  }
  .product-main .slider__next {
    right: 30px;
    width: 40px;
    height: 40px;
  }
  .product-main .slider__next svg {
    width: 10px;
    height: 10px;
  }
  .product-main__3d {
    width: 45px;
    height: 45px;
  }
  .product-main__title {
    font-size: 32px;
    line-height: 32px;
  }
  .product-main__info {
    right: auto;
    left: 30px;
  }
  .product-main__subtitle {
    font-size: 14px;
    line-height: 14px;
  }
  .product-about {
    padding: 70px 0 100px;
  }
  .product-about__content {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    position: relative;
    padding-bottom: 96px;
  }
  .product-about__left {
    grid-row: 2/3;
    padding: 60px 40px;
  }
  .product-about__title {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 28px;
  }
  .product-about__desc {
    margin-bottom: 20px;
  }
  .product-about__action {
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .product-about-options {
    margin-bottom: 0;
  }
  .product-tech {
    margin-bottom: 50px;
    gap: 28px;
  }
  .product-tech__item img {
    height: 88px;
  }
  .product-parameters__title {
    margin-bottom: 50px;
  }
  .product-parameters__list {
    grid-gap: 30px 60px;
  }
  .product-video .container {
    min-height: 280px;
  }
  .product-video {
    padding: 40px 0;
  }
  .product-video__btn svg {
    width: 90px;
    height: 90px;
  }
  .product-video__btn span {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1;
  }
  .product-video__info {
    max-width: 100%;
    width: calc(100% - 80px);
    bottom: 0;
    left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-video__info span {
    margin-bottom: 0;
  }
  .product-bracing {
    padding: 100px 0 50px;
    overflow: hidden;
  }
  .product-bracing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 0;
  }
  .product-bracing__title {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .product-bracing__types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    margin-bottom: 50px;
  }
  .product-bracing__type {
    width: auto;
    white-space: nowrap;
    padding-left: 0;
    font-size: 18px;
    line-height: 18px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .product-bracing__type:last-of-type {
    margin-right: 0;
  }
  .product-bracing__type:hover {
    background-color: none;
  }
  .product-bracing__type.active {
    background: none;
  }
  .product-colors {
    padding: 50px 0 100px;
  }
  .product-colors__title {
    margin-bottom: 70px;
  }
  .product-colors__info {
    padding: 50px 30px;
  }
  .product-colors__slider {
    max-width: 294px;
    padding: 0 54px;
  }
  .product-colors__slider .slider__next {
    width: 40px;
    height: 40px;
  }
  .product-colors__slider .slider__next svg {
    width: 11px;
    height: 11px;
  }
  .product-colors__slider .slider__prev {
    width: 40px;
    height: 40px;
  }
  .product-colors__slider .slider__prev svg {
    width: 11px;
    height: 11px;
  }
  .product-structure {
    padding: 50px 0 70px;
  }
  .product-structure__img {
    width: 334px;
    margin: 0 20px;
  }
  .product-structure__point:nth-of-type(1) {
    top: 40px;
  }
  .product-structure__point:nth-of-type(1) svg {
    width: 240px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    left: -240px;
  }
  .product-structure__point:nth-of-type(2) {
    top: 114px;
  }
  .product-structure__point:nth-of-type(2) svg {
    width: 200px;
    left: -200px;
  }
  .product-structure__point:nth-of-type(3) {
    top: 60px;
  }
  .product-structure__point:nth-of-type(3) svg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 200px;
    right: -200px;
    top: 20px;
  }
  .product-structure__point:nth-of-type(4) {
    top: 118px;
  }
  .product-structure__point:nth-of-type(4) svg {
    width: 160px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 30px;
    right: -180px;
  }
  .product-structure__point:nth-of-type(5) {
    top: 198px;
  }
  .product-structure__point:nth-of-type(5) svg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 200px;
    right: -200px;
    top: 20px;
  }
  .product-structure__item--one {
    margin: 0;
  }
  .product-structure__item--two {
    margin-top: 119px;
  }
  .product-structure__item--three {
    margin-top: 110px;
  }
  .product-structure__item--four {
    margin-top: 37px;
  }
  .product-structure__item--five {
    margin-top: 60px;
  }
  .product-size {
    padding: 70px 0;
    overflow: hidden;
  }
  .product-size .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 66px;
    position: relative;
  }
  .product-size__content {
    width: 100%;
  }
  .product-size__title {
    position: absolute;
    top: 0;
    left: 30px;
    margin-bottom: 0;
  }
  .product-size__next {
    display: none;
  }
  .product-size__prev {
    display: none;
  }
  .product-size__slider {
    padding: 0;
    width: calc(100% + 60px);
    margin: 0 -30px;
  }
  .product-size__slider .swiper-pagination {
    display: block;
    margin-top: 200px;
    width: calc(100% - 60px);
    left: 30px;
  }
  .product-size__slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #03A543;
  }
  .product-size__slider .slider {
    max-width: 100%;
    padding-bottom: 40px;
  }
  .product-size__slider-item {
    max-width: 110px;
    width: 100%;
  }
  .product-corner__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .product-corner__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .product-options__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .product-modification {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .product-modification__item {
    min-height: 220px;
  }
  .product-modification__list {
    height: 131px;
  }
  .product-docs__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .product-tabs__content {
    padding: 50px 0 35px;
  }
  .product-details .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
  }
  .product-details__item:first-of-type {
    grid-column: 1/4;
  }
  .product-details__head {
    padding: 20px 0 0 0;
    margin-bottom: 15px;
    border-bottom: none;
  }
  .product-details__name {
    padding: 0 0 20px 0;
  }
  .product-banner {
    padding: 70px 0;
  }
  .product-banner__content {
    padding-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
  }
  .product-banner__title {
    margin-bottom: 0;
    margin-right: 24px;
    width: 100%;
  }
  .product-banner__text {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-banner__desc {
    margin-bottom: 0;
  }
  .product-banner__btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
  .radio__label::before {
    width: 16px;
    height: 16px;
  }
  .radio__label::after {
    width: 8px;
    height: 8px;
    top: 4px;
    left: 4px;
  }
  .footer-head {
    margin-bottom: 67px;
  }
  .footer__logo img {
    height: 22px;
  }
  .footer-bottom {
    padding: 25px 0;
  }
  .footer-bottom .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-main {
    display: block;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    position: relative;
    padding-bottom: 190px;
  }
  .footer-col {
    -webkit-column-break-inside: auto;
    -moz-column-break-inside: auto;
    break-inside: auto;
    page-break-inside: avoid;
    margin-bottom: 40px;
  }
  .footer__subtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 25px;
  }
  .footer__link {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__tel {
    position: absolute;
    bottom: 80px;
    left: 0;
  }
  .footer__mail {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .footer__privacy {
    font-size: 14px;
    line-height: 1;
  }
  .footer__developer {
    font-size: 14px;
    line-height: 1;
  }
  .breadcrumbs__item a {
    font-size: 10px;
    line-height: 10px;
  }
  .product-main__item:nth-of-type(1) {
    background: url("../images/main-mob-1.png") center center/cover no-repeat;
  }
  .product-main__item:nth-of-type(2) {
    background: url("../images/main-mob-1.png") center center/cover no-repeat;
  }
  .product-main__item {
    min-height: 410px;
  }
  .product-main .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
    left: 30px;
    bottom: 25px;
    max-width: 72px;
  }
  .product-main__3d {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 30px;
    padding: 11px 8px;
  }
  .product-main__title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
    bottom: 64px;
  }
  .product-about__left {
    padding: 40px 30px;
  }
  .product-parameters__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .product-parameters__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .product-parameters__item {
    font-size: 16px;
    line-height: 16px;
  }
  .product-parameters__item span {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  .product-colors__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 20px;
    background-color: #fff;
    padding-top: 68px;
    position: relative;
  }
  .product-colors__title {
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-colors__info {
    padding: 0;
    max-width: 100%;
  }
  .product-colors__panel {
    padding: 25px 15px 35px;
  }
  .product-colors__subtitle {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }
  .product-colors__slider {
    max-width: 285px;
    padding: 0 50px;
    margin: 0 auto;
  }
  .product-structure {
    padding: 50px 0;
  }
  .product-structure__img {
    margin: 0;
  }
  .product-structure__point svg {
    display: none !important;
  }
  .product-structure__item {
    display: none;
  }
  .product-corner {
    padding: 70px 0 35px;
  }
  .product-corner__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .product-options {
    padding: 35px 0;
  }
  .product-options__list {
    grid-template-columns: 1fr;
  }
  .product-modification__item {
    min-height: 190px;
  }
  .product-modification__subtitle {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .product-modification__radio {
    margin-bottom: 20px;
  }
  .product-modification__list {
    height: 92px;
  }
  .product-docs__list {
    grid-template-columns: 1fr;
  }
  .product-tabs-head {
    overflow-x: auto;
    margin: 0 -30px;
    padding: 0 30px;
  }
  .product-tabs-head::-webkit-scrollbar {
    display: none;
  }
  .product-tabs__item {
    width: 100%;
    white-space: nowrap;
  }
  .product-details {
    padding: 35px 0 70px;
  }
  .product-details .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 20px;
  }
  .product-details__item:first-of-type {
    grid-column: 1/3;
  }
  .product-details__head {
    font-size: 14px;
  }
  .product-details__name {
    font-size: 16px;
    line-height: 1;
  }
  .product-banner__title {
    margin-bottom: 30px;
  }
  .product-banner__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .product-about__content {
    padding-bottom: 182px;
  }
  .product-about__action {
    grid-template-columns: 1fr;
  }
  .product-tech {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .product-tech__item:nth-of-type(1) {
    width: calc(50% - 10px);
  }
  .product-tech__item:nth-of-type(2) {
    width: calc(50% - 10px);
  }
  .product-tech__item:nth-of-type(3) {
    width: calc(65% - 10px);
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .product-tech__item:nth-of-type(4) {
    width: calc(35% - 10px);
  }
  .product-tech__item img {
    width: 100%;
    height: auto;
  }
  .product-modification {
    grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */
